body{
  background: #192A56;
  font-size :20px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  size: 60px
}

.app-title{
  font-size: 60px;
  color: aliceblue;
  margin-left: 650px;
  margin-right: auto;
}

.container{
  color: antiquewhite;
  font-size: 40px;
  margin-left: 850px;
  margin-right: auto;
}

.input-text{
  color:black;
  font-size: 30px;
  margin-left: 650px;
  margin-right: auto;
}

.add-btn{
  color: black;
  font-weight: bold;
  font-size: 30px;
  background-color: red;
  margin-left:40px;
  height: 44px;
}

.click{
  background-clip: border-box;
  color:white;
  font-size: 40px;
  margin-left: 650px;
  margin-right: auto;
}
.btn{
  color: black;
  font-weight: bold;
  font-size: 30px;
  background-color: red;
  margin-left:40px;
  height: 44px;
}